{
    "extends": [
        "@antfu"
    ],
    "rules": {
        "curly": "off",
        "no-console": "off",
        "no-extra-parens": "off",
        "@typescript-eslint/brace-style": "off"
    }
}
