:root {
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  overscroll-behavior: none;
}

@media only screen and (min-width: 640px) {
  body {
    overscroll-behavior: none;
  }
}

button {
  @apply border-none text-base;
}

a {
  color: inherit;
  @apply decoration-none;
}
a:visited {
  color: inherit;
}

.obscure .text-obscure,
.obscure .text-value,
.obscure .text-currency,
.obscure .text-address {
  @apply blur-6;
}

.text-brand {
  color: #00DC82; /* Nuxt primary */
}
.text-brand-alt {
  color: #002E3B; /* Nuxt secondary */
}

.router-link-exact-active {
  @apply cursor-default;
}
